/*override css*/
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: auto;
}
.gn-menu-wrapper{
	background-color: transparent;
}
.gn-menu img{
	margin: 7px;
}
#logo{
	height: 50px;
	width: 150px;
}

.slogan .btn {
	margin-top: 2%;
	padding: 15px;
}

.slogan p, .slogan h1{
	text-shadow: 1px 1px 3px #555;
}

.media-photo{
	display: inline-block;
}

.btn-skin{ 
	background-color: #3276b1; /*primary blue*/
  	border-color: #3276b1;  /*primary blue*/
}

footer{
	background-color: #003b5a; /*navy blue*/

}

a{
	color: #003b5a; /*navy blue*/
}

a:hover{
	color: #ffd700; /*yellow*/
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
          border-color: #ffd700;
}

.boxed-blue {
	background: #003b5a;
	padding: 20px;
}

.fa{
	color: lightblue;
}

#carousel-example-generic{
	width: 500px;
	margin: auto;
}

.hiddenInfo{
	display: none;
	color: #000;
	font-size: 16px;
	margin-top: 20px;
}

.img-responsive{
	margin: auto;
}

#proLaunch{
	background-image: url('img/geometry.png');
}

.hr{
	width: 800px;
	height: 1px;
	background-color: #003b5a;
	margin: 0 auto;
}

.vidTitle{
	padding: 10px;
	font-size: 16px;
}

.service-box{
	min-height: 250px;
}
/*QUOTE SECTION*/

.circle img{
	border-radius: 100%;
	width: 150px;
	height: 150px;
	border: 7px solid #003b5a;
}

.service-desc-quote{
	padding: 17px;
	background-color: #eee;
	min-width: 371px;
	max-width: 500px;
	float: right;
	margin-bottom: 30px;
	border: 2px #ffd700 groove;
	overflow: hidden;
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;


}

.service-desc-quote:hover{
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05);
	z-index:2;
}
/*QUOTE SECTION*/
.title{
	font-size: 24px;
	float: left;
	font-weight: bold;
	color: #003B85;
}
@media (max-width:768px) {
	
	.circle{
		display: inline-block;
		float: left;
	}

	.service-desc p {
		font-size: 16px;
	}
}

/**********FAQ SECTION*************/

.brandimgs img{
	height: 100px;
	width: 230px;
	display: inline-block;
	margin: 0 10px 63px 0;
	/*background-color: #eee;*/
	border: 3px groove #003b5a;
	margin-bottom: 55px;
	/*padding: 20px;*/
	
}

.dropshadow {
-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888;
}


.trainingpanels{
	float: left;
	text-align: left;
}


.panel{
	border-radius: 3px;
	background: #f2f2f2;
	border: solid 1px #e6e6e6;
	margin: 0 0 22px 0;
	padding: 20px;
	width: 215px;
	margin: 7px;
}

.topalign div{
	vertical-align: top;
	display: inline-block;
}

.lightblue{
	background-color: lightblue;
}

.squarecontainer{
	background-color: red;
}